<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Simon">
	<title>踏过千山万水，送给最美的你</title>
	<link rel="stylesheet" type="text/css" href="/static/css/letter.css">
</head>
<body>
	<div class="letter">
		<div class="image">
			<img src="/static/image/joyeux_anniversaire.jpg">
		</div>
		<div class="words">
			<p>亲爱的韩良越小姐：</p>
			<p class="content">
				从不知晓毫无头绪的我究竟该从何处落笔。心中涌起万千思绪，像平原上的溪流四散流淌，聚不到电脑光标上的这一点。我不知道怎样思考，不如效仿古希腊的哲学家，从头开始捋起。
			</p>
			<p class="content">
				从我们的相见相识到相恋，我竟一时不知这一切的脉络。好像都是偶然，我们碰巧进了一座大学，一个学院；似乎因一人的牵线搭桥，我们在机缘中结下友谊；各种随机的巧妙结合，我们有了只差一位的学号；是神奇的分组，我们能在一起工训；奇妙的因素又让四人学习小组只剩下我们两个还在假期打卡。。。。。。
			</p>
			<p class="content">
				我们的过去真的只剩下运气与巧合了吗，我有点迷茫。也许应该像亚里斯多德探索真理一样，我要做一次伟大的证明。我们都对学习有着浓郁的积极性，所以我们聚到了一个小团体；我们对陪伴有着执着的期待，所以能坚持一起打卡前行；我们都对别人有足够的宽容，让我们能互相倾诉情感；相似的特质使我们越走越近。
			</p>
			<p class="content">
				但仅有相似还不足以让我们走进彼此的心灵。你有我没有的幽默与闪耀，我可以做你柔弱角落的坚强护盾；你做事的认真劲不断激励着我，你善良可爱的模样令我沉迷。。。。。。
			</p>
			<p class="content">
				对不起，我还是没办法回答你。喜欢你似乎真的是感受的交织融合，感情凝结的结晶。没办法说是我喜欢拥有哪种特质的你，我们因为有了哪些经历而在一起。而是拥有各种特质的你把我深深吸引，有了过往各种经历的我们才能在一起。
			</p>
			<p class="content">
				然而你确实就是我心中最特别的她，最皎洁的白月光。你就是晨曦初升的朝阳，温暖我干涸枯燥的心房，让我从此走出迷茫。过去的岁月没有哪一天像我现在这样快乐，像这样每天有可爱迷人的小宝宝依偎在身旁。
			</p>
			<p class="content">
				“Super idol的笑容都没你的甜，八月正午的阳光都没你耀眼。”
			</p>
			<p class="content">
				你深情动人的脸庞，高悬的我终于安好了家。
			</p>
			<p class="content">
				我喜欢你，你就是我的唯一
			</p>
			<p class="content">
				在这美丽的日子，我祝你生日快乐
			</p>
			<p class="content" style="float: right;">
				段飞宇先生
			</p>
		</div>
	</div>
</body>
</html>